.signup-form{
    display: flex;
    justify-content: space-between;
    background-color: beige;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs input{
    
    width: 555px;
    height: 60px;
    margin-bottom: 50px;
    border: none;
    background-color: white;
    border-radius: 30px;
    font-size: 14px;
    color: #5b5b5b;
    padding: 30px;
    margin-left: 50px;
}
.signup-btn{
    text-align: center;
    background-color: #EC4814;
    width: 555px;
    height: 57px;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 18px;
    margin-left: 50px;
}
.signup-form-inp{
    margin-top: 70px;
}
.signup-form-img img{
    margin-top: 70px;
    width: 555px;
    margin-right: 30px;
}