
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  
}
body{
  min-height: 100vh;
  
    padding: 0 20px; /* Top-Bottom: 0px, Left-Right: 20px */
    
  }
  

a{
  text-decoration: none;
  color: inherit;
}
.App{
  width: 80%;
  margin: auto;
}